<%- include('./header.ejs') -%>

    <form class="d-flex flex-column align-items-center needs-validation" action="/form" method="POST" novalidate enctype="multipart/form-data">
        <div class="mb-3 w-25">
        <label class="form-label" for="name">Spot Name:</label>
        <input class="form-control " type="text" name="Name" id="name" autocomplete="off" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3 w-25">  
        <label class="form-label" for="price">Price:</label>
        <input class="form-control" type="text" name="Price" id="price" autocomplete="off" required>
        <div class="valid-feedback">
            Looks good!
          </div>
    </div>

    <div class="mb-3 w-25">
        <label class="form-label" for="city">Location:</label>
        <input class="form-control" type="text" name="Location" id="city" autocomplete="off" required>
        <div class="valid-feedback">
            Looks good!
          </div>
    </div>

      <input type="file" name="pic" id="" multiple>
    </div>
        <button class="btn btn-danger w-25" type="submit">Add Loction</button>
    </form>
    <%- include('./footer.ejs') -%>